
.container-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: aquamarine;
}

    .formulario {
        background-color: #fff;     
        padding: 20px;                
        border-radius: 10px;         
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        width: 300px;                 
    }
    form h3 {
        text-align: center;           /* Alinha o título ao centro */
        margin-bottom: 20px;          /* Espaçamento abaixo do título */
    }
    
    input[type="text"], input[type="password"] {
        width: 100%;                  /* Largura total do campo */
        padding: 10px;                /* Espaçamento interno */
        margin: 10px 0;               /* Espaçamento entre os campos */
        border: 1px solid #ccc;      /* Borda suave */
        border-radius: 5px;          /* Bordas arredondadas */
        font-size: 14px;              /* Tamanho da fonte */
    }
    
    input[type="submit"] {
        width: 100%;                  /* Largura total do botão */
        padding: 10px;                /* Espaçamento interno */
        background-color: #4CAF50;    /* Cor de fundo verde */
        color: white;                 /* Cor do texto */
        border: none;                 /* Remove a borda padrão */
        border-radius: 5px;          /* Bordas arredondadas */
        font-size: 16px;              /* Tamanho da fonte */
        cursor: pointer;             /* Cursor de mãozinha */
    }
    
    input[type="submit"]:hover {
        background-color: #458ba0;    /* Muda a cor do botão ao passar o mouse */
    }
    
